.polaroid {
    width: 368px;
    height: 376px;
    background-image: url(../img/temp/polaroid-bg.png);
    position: absolute;
    box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.2);

    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.polaroid img {
    width: 335px;
    height: 275px;
    margin: 25px 0 0 15px;

    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.polaroid img:hover {
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -o-transform: scale(1.04);
}

.polaroid p {
    text-align: center;
    font-family: Georgia, serif;
    font-size: 20px;
    color: #2E2E2E;
    margin-top: 15px;
}


#section1 .fp-slidesNav.top {
    top: 65px;
}

@media (max-width: 1367px) {
    .polaroid {
        width: 287px;
        height: 280px;
        background-image: url(../img/temp/polaroid-bg.png);
        position: absolute;
        background-size: cover;

    }
    .polaroid img {
        width: 255px;
        height: 214px;
        margin: 20px 10px -5px 16px;
    }

    .polaroid p {
        font-size: 15px;
        color: #2E2E2E;
        margin-top: 20px;
    }

}